<div class="container-fluid text-center" id="contact">
    <h2>SIE HABEN FRAGEN ZU</h2>
    <h2>ENTREPRENEURS FOR FUTURE?</h2>
    <p>Wir freuen uns auf Ihre Anregungen über info@entrepreneursforfuture.de oder über folgendes Formular:</p>
    <br>
    <br>
    <div>
        <form>
            <div class="form-group row">
                <label for="colFormLabel" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="name" class="form-control" id="colFormLabel" placeholder="Name">
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabel" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="colFormLabel" placeholder="E-mail">
                </div>
            </div>
            <div><a href="#" class="btn btn-primary btn-lg">Submit</a></div>
        </form>
    </div>
</div>