<br>
<div class="container">
    <h3>Entrepreneurs for Future</h3>
    <p>Wir sind Unternehmerinnen und Unternehmer, die heute schon Klimaschutz voranbringen bzw. sich dafür einsetzen, dass die Wirtschaft mit innovativen Produkten, Technologien, Dienstleistungen und Geschäftsmodellen einen schnelleren Klimaschutz voranbringt.</p>
    <p><em><u>Unsere Initiative steht inzwischen für mehr als 180.000 Arbeitsplätze und mehr als 30 Mrd. EUR Umsatz.</u></em></p>
    <h4>Wir laden</h4>
    <ul>
        <li>aktive Unternehmerinnen, Unternehmer, Gründerinnen, Gründer und Selbständige</li>
        <li>aus allen Branchen,</li>
        <li>die heute schon Klimaschutz mit ihren Unternehmungen voranbringen oder die davon überzeugt sind, dass schnellere und bessere Klimaschutzmaßnahmen nötig sind</li>
    </ul>
    <p>ein, die Stellungnahme von #EntrepreneursForFuture zu unterschreiben.</p>
</div>
<br>